@page "/CalcService/PassUsingModel"
@model WebApplication1.Pages.CalcService.PassUsingModelModel
@{
	ViewData["Title"] = "PassUsingModel";
	<p class="fw-bold">
		Rand Value First: @Model.calculation.num1<br />
		Rand Value Second: @Model.calculation.num2 <br />
		Add: <br />
		<span class="fw-normal">@Model.calculation.num1 + @Model.calculation.num2 = @Model.calculation.sum </span>	<br />
		Sub: <br />
		<span class="fw-normal">@Model.calculation.num1 - @Model.calculation.num2 = @Model.calculation.difference </span>	<br />
		Mult: <br />
		<span class="fw-normal">@Model.calculation.num1 * @Model.calculation.num2 = @Model.calculation.product </span>	<br />
		Div: <br />
		<span class="fw-normal">@Model.calculation.num1 / @Model.calculation.num2 = @Model.calculation.quotient </span> <br />
	</p>
}